<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
            <a mat-button class="header-button">
                予約フォーム管理
            </a>
            <a mat-button class="header-button">
                予約管理
            </a>
            <a mat-button class="header-button">
                月謝管理
            </a>
            <a mat-button class="header-button">
                顧客管理
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>